@if (!isConnected()) {
    <button (click)="onLogout()">Logout</button>
}

@if (!isConnected()) {
    <button (click)="onConnectToGame()">Connect to game</button>
} @else {
    <div>
        <input
            type="text"
            [(ngModel)]="chatInput"
            placeholder="Type your message"
        />
        <button (click)="onSendChatMessage()">Send Chat Message</button>
    </div>

    <ul>
        @for (msg of chatHistory(); track $index) {
            <li>{{ msg.from }}: {{ msg.message }}</li>
        }
    </ul>
}
